* {
  margin: 0.5rem;
}

h1,
h2 {
  margin: auto;
  width: 50%;
  text-align: center;
}

.books {
  border: 2px solid black;
  background-color: rgb(178, 177, 177);
  width: 50%;
  margin: 1rem auto;
}

.book-container {
  display: flex;
  justify-content: space-between;
}

.add-book-form {
  margin: auto;
  width: 40%;
}

input {
  width: 100%;
}
